psoc_project.cydsn/Generated_Source/
psoc_project.cydsn/Export/
psoc_project.cydsn/CortexM3/
psoc_project.cydsn/codegentemp/
psoc_project.cydsn/*.log
psoc_project.cydsn/*.cycdx
psoc_project.cydsn/*.cyprj.*
psoc_project.cydsn/*.rpt
psoc_project.cydsn/*.svd
psoc_project.cydsn/*.html
